<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - chatroom</title>
    <link rel="stylesheet" href="~/Styles/site.css?v=@DateTime.Now.Second"/>
    <script src="https://kit.fontawesome.com/e75dbde698.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="side_nav_container">
    @if (ViewBag.User != null)
    {
        <div class="side_nav">
            <div class="nav-left">
                <div class="nav_user">
                    <p>@ViewBag.User.Username</p>
                    <a href="/Account" class="icon icon_primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/Auth/Logout" class="icon icon_danger"><i
                            class="fa-solid fa-right-from-bracket"></i></a>
                </div>
            </div>
            <div class="nav-bottom">
                <ul>
                    @if (ViewBag.Chats.Count != 0)
                    {
                        @foreach (var c in ViewBag.Chats)
                        {
                            <li><a href="/Chat/View/@c.RoomId" class="user_chat btn btn-secondary">@c.RoomName</a></li>
                        }
                    }
                    else
                    {
                        <li>You have no chats :(</li>
                    }
                </ul>
                <a href="/Chat/Create" class="btn btn-primary">Create Chat</a>
            </div>
            
        </div>
    }

    <main>
        @RenderBody()
    </main>

</div>
<script src="~/Scripts/site.js"></script>
</body>
</html>
