<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - chatroom</title>
</head>
<body>
    <header class="nav">
        <div class="nav-left">
            <img src="./Media/logo.png" alt="logo" class="nav-logo" />
            <ul class="nav-links">
                <li><a href="" class="btn btn-link">Link 1</a></li>
                <li><a href="" class="btn btn-link">Link 2</a></li>
                <li><a href="" class="btn btn-link">Link 3</a></li>
                <li><a href="" class="btn btn-link">Link 4</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a class="btn btn-primary" href="">Primary Link</a>
            <a class="btn btn-secondary" href="">Secondary Link</a>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
